/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.game{
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  margin-bottom: 50px;
}

.square{
  height: 100%;
  width: 100%;
  border: 1px solid red;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
